.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.memos {
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 0 30px;
}
